@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root {
 --banner_color: #e5c8c0;
 --text_color: #000003;
 --main_color: #9b8d89;
 --footer_color: #ccb9b4;
}

* {
    margin: 0;
    padding: 0;
}

.banner {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: var(--banner_color);
}

.banner , figure {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: var(--footer_color);
    cursor: pointer;
  }

.closeIcon {
    display: none;
  }

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: var(--banner_color);
    color: white;
    list-style: none;
    padding-top: 4rem;
  }

  .menuItem li, a {
    display: flex;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: var(--text_color);
    text-align: center;
    justify-content: center;
    margin-top: 40px;
  }

.showMenu {
    transform: translateY(0);
  }

.content {
    position: relative;
    background: var(--main_color);
    height: 100vh;
    padding: 30px;
}

.news {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    background: var(--banner_color);
    max-width: 1000px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}

.final , h3 {
    background: var(--footer_color);
    height: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 100;
    display: flex;
    align-items: center;
}

.media {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 90px;
}

.img-content {
  position:absolute;
  width:100%;
  height:100%;

  -webkit-transition: margin-left 1300ms ease-in;
  -moz-transition: margin-left 1300ms ease-in;
  -o-transition: margin-left 1300ms ease-in;
  transition: margin-left 1300ms ease-in;
}
#img-content {
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;
  position: relative;
  width:350px;
  height:200px;
  padding: 10px;
  margin-bottom: 10px;
}
.ativa {
  margin-left:0%;
}

.bg-img-content {
  background: var(--banner_color);
  height: 230px;
}