<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../assets/fav-icon/favicon-32x32.png" type="image/x-icon">
    <title>Granulando Art / Contato</title>
</head>
<body>
    <header class="banner">
        <figure>
            <img src="../assets/logo-icon.jpeg" width="130px" alt="logo-icon">
        </figure>
        <aside>
            <ul class="menu">
                <li><a class="menuItem" href="../index.html">Home</a></li>
                <li><a class="menuItem" href="./historia.html">Historia</a></li>
                <li><a class="menuItem" href="./portifolio.html">Porfolio</a></li>
                <li><a class="menuItem" href="#">Orçamentos</a></li>
              </ul>
              <button class="hamburger">
                <i class="menuIcon material-icons">menu</i>
                <i class="closeIcon material-icons">close</i>
              </button>
        </aside>
    </header>
    <main class="content">
        <section id="frm-box">
            <form action="" class="frm">
                <label for="name">Nome</label>
                <input type="text" name="name" id="name" required>
                <label for="email">Email</label>
                <input type="text" name="email" id="email" required>
                <label for="contato">Contato</label>
                <input type="text" name="contato" id="contato" required>
                <label for="mensagem">Descreva seu pedido</label>
                <textarea name="mensagem" id="mensagem" cols="30" rows="10" required></textarea>
                <input type="submit" class="btn">
            </form>
        </section>
    </main>
    <footer class="final">
        <h3>Todos os direitos reservados</h3>
        <section class="media">
            <figure class="social-media">
                <a href="https://www.instagram.com/granulandoart/" target="_blank"><img src="../assets/social-media/icon-instagram.svg" width="50px" alt="instagram-icon"></a>
            </figure>
            <figure>
                <a href="#" target="_blank"><img src="../assets/social-media/PngItem_6811703.png" width="30px" alt="whatsapp-icon"></a>
            </figure>
        </section>
    </footer>
</body>
</html>
<script src="../scripts/menu.js"></script>