<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../assets/fav-icon/favicon-32x32.png" type="image/x-icon">
    <title>Granulando Art / Historia</title>
</head>
<body>
    <header class="banner">
        <figure>
            <img src="../assets/WhatsApp Image 2022-06-18 at 20.28.54.jpeg" width="130px" alt="logo-icon">
        </figure>
        <ul class="menu">
            <li><a class="menuItem" href="../index.html">Home</a></li>
            <li><a class="menuItem" href="#">Porfolio</a></li>
            <li><a class="menuItem" href="#">Contato</a></li>
            <li><a class="menuItem" href="#">Orçamentos</a></li>
          </ul>
          <button class="hamburger">
            <i class="menuIcon material-icons">menu</i>
            <i class="closeIcon material-icons">close</i>
          </button>
        </section>
    </header>
    <main>
        <section id="content">
            <h4>Lorem, ipsum dolor.</h3>
                <section class="p-align">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id exercitationem amet ex totam neque aperiam nesciunt quos iusto repellendus inventore temporibus sit impedit autem sequi, nihil velit! Voluptas, a vel.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius blanditiis enim sapiente cumque quidem nesciunt, porro culpa laborum nisi maiores deleniti nostrum veniam suscipit provident iste quasi corrupti aperiam.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, dolor. Assumenda itaque eaque debitis aliquam saepe nesciunt! Adipisci aut quos totam expedita aliquam est ullam, suscipit, assumenda tenetur quaerat veniam.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laborum sed aspernatur animi doloremque, exercitationem recusandae officiis sunt optio inventore numquam, deleniti placeat mollitia quisquam at dolorem dolor ipsam. Ipsum.</p>
                </section>
                <h4 class="assign">Granulando Art Gourmet</h4>
        </section>
    </main>
    <footer class="final">
        <h3>Todos os direitos reservados</h3>
        <section class="media">
            <figure class="social-media">
                <a href="https://www.instagram.com/granulandoart/" target="_blank"><img src="../assets/icon-instagram.svg" width="50px" alt="instagram-icon"></a>
            </figure>
            <figure>
                <a href="#" target="_blank"><img src="../assets/PngItem_6811703.png" width="30px" alt="whatsapp-icon"></a>
            </figure>
        </section>
    </footer>
</body>
</html>
<script src="../scripts/menu.js"></script>