<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../assets/fav-icon/favicon-32x32.png" type="image/x-icon">
    <title>Granulando Art / Porfolio</title>
</head>
<body>
    <header class="banner">
        <figure>
            <img src="../assets/WhatsApp Image 2022-06-18 at 20.28.54.jpeg" width="130px" alt="logo-icon">
        </figure>
        <ul class="menu">
            <li><a class="menuItem" href="../index.html">Home</a></li>
            <li><a class="menuItem" href="../view/historia.html">Historia</a></li>
            <li><a class="menuItem" href="#">Contato</a></li>
            <li><a class="menuItem" href="#">Orçamentos</a></li>
          </ul>
          <button class="hamburger">
            <i class="menuIcon material-icons">menu</i>
            <i class="closeIcon material-icons">close</i>
          </button>
        </section>
    </header>
    <main id="content">
                 
    </main>
    <footer class="final">
        <h3>Todos os direitos reservados</h3>
        <section class="media">
            <figure class="social-media">
                <a href="https://www.instagram.com/granulandoart/" target="_blank"><img src="../assets/icon-instagram.svg" width="50px" alt="instagram-icon"></a>
            </figure>
            <figure>
                <a href="#" target="_blank"><img src="../assets/PngItem_6811703.png" width="30px" alt="whatsapp-icon"></a>
            </figure>
        </section>
    </footer>
</body>
</html>
<script src="../scripts/menu.js"></script>
<script src="../scripts/slider.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="../scripts/sr-porfolio.js"></script>
<script src="../scripts/slider-porfolio.js"></script>