<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="shortcut icon" href="../assets/fav-icon/favicon-32x32.png" type="image/x-icon">
    <title>Granulando Art / Porfolio</title>
</head>
<body>
    <header class="banner">
        <figure>
            <img src="../assets/logo-icon.jpeg" width="130px" alt="logo-icon">
        </figure>
        <ul class="menu">
            <li><a class="menuItem" href="../index.html">Home</a></li>
            <li><a class="menuItem" href="../view/historia.html">Historia</a></li>
            <li><a class="menuItem" href="#">Contato</a></li>
            <li><a class="menuItem" href="#">Orçamentos</a></li>
          </ul>
          <button class="hamburger">
            <i class="menuIcon material-icons">menu</i>
            <i class="closeIcon material-icons">close</i>
          </button>
        </section>
    </header>
    <main id="content">
        <article class="content-article">
            <h4>Caixa Fruity Love</h4>
            <section class="swiffy-slider">
                <ul class="slider-container">
                    <li><img src="../assets/porfolio-content/fruity-love/196468324_1168681573653749_1045481978155026513_n.jpg" style="max-width: 100%;height: auto;"></li>
                    <li><img src="../assets/porfolio-content/fruity-love/196585960_325562032406617_302081093070298266_n.jpg" style="max-width: 100%;height: auto;"></li>
                    <li><img src="../assets/porfolio-content/fruity-love/197465326_2002841943187665_5868420319017520389_n.jpg" style="max-width: 100%;height: auto;"></li>
                </ul>
                <button type="button" class="slider-nav"></button>
                <button type="button" class="slider-nav slider-nav-next"></button>
                <section class="slider-indicators">
                    <button class="active"></button>
                    <button></button>
                    <button></button>
                </section>
            </section>
        </article>
        <article class="content-article">
            <h4>Coração lapidado recheado</h4>
            <section class="swiffy-slider">
                <ul class="slider-container">
                    <li><img src="../assets/porfolio-content/coracao-lapidado/197862132_388712002480535_1291106569984003289_n.jpg" style="max-width: 100%;height: auto;"></li>
                    <li><img src="../assets/porfolio-content/coracao-lapidado/199268448_933578114150781_6958388983388556162_n.jpg" style="max-width: 100%;height: auto;"></li>
                </ul>
                <button type="button" class="slider-nav"></button>
                <button type="button" class="slider-nav slider-nav-next"></button>
                <section class="slider-indicators">
                    <button class="active"></button>
                    <button></button>
                    <button></button>
                </section>
            </section>
        </article>
        <article class="content-article">
            <h4>Buquê de Bombons</h4>
            <section class="swiffy-slider">
                <ul class="slider-container">
                    <li><img src="../assets/porfolio-content/buque-bombom/195833607_333361031486341_7582311949799368609_n.jpg" style="max-width: 100%;height: auto;"></li>
                    <li><img src="../assets/porfolio-content/buque-bombom/196461501_490891972139994_8502206390250405820_n.jpg" style="max-width: 100%;height: auto;"></li>
                    <li><img src="../assets/porfolio-content/buque-bombom/197051574_333052208289039_4939604601099152220_n.jpg" style="max-width: 100%;height: auto;"></li>
                    <li><img src="../assets/porfolio-content/buque-bombom/197077245_2942497109327294_6819956910122519823_n.jpg" style="max-width: 100%;height: auto;"></li>
                </ul>
                <button type="button" class="slider-nav"></button>
                <button type="button" class="slider-nav slider-nav-next"></button>
                <section class="slider-indicators">
                    <button class="active"></button>
                    <button></button>
                    <button></button>
                </section>
            </section>
        </article>
        <article class="content-article">
            <h4>Caixa Love Dark</h4>
            <section class="swiffy-slider">
                <ul class="slider-container">
                    <li><img src="../assets/porfolio-content/caixa-dark/196866320_119004207041989_4968216800382261239_n.jpg" style="max-width: 100%;height: auto;"></li>
                    <li><img src="../assets/porfolio-content//caixa-dark/196816323_1827325460762466_2076652725296125575_n.jpg" style="max-width: 100%;height: auto;"></li>
                    <li><img src="../assets/porfolio-content/caixa-dark/197448992_2889893271326384_5730634327777160199_n.jpg" style="max-width: 100%;height: auto;"></li>
                    <li><img src="../assets/porfolio-content//caixa-dark/198347959_214705033664357_425703386828817898_n.jpg" style="max-width: 100%;height: auto;"></li>
                </ul>
                <button type="button" class="slider-nav"></button>
                <button type="button" class="slider-nav slider-nav-next"></button>
                <section class="slider-indicators">
                    <button class="active"></button>
                    <button></button>
                    <button></button>
                </section>
            </section>
        </article>          
    </main>
    <footer class="final">
        <h3>Todos os direitos reservados</h3>
        <section class="media">
            <figure class="social-media">
                <a href="https://www.instagram.com/granulandoart/" target="_blank"><img src="../assets/social-media/icon-instagram.svg" width="50px" alt="instagram-icon"></a>
            </figure>
            <figure>
                <a href="#" target="_blank"><img src="../assets/social-media/PngItem_6811703.png" width="30px" alt="whatsapp-icon"></a>
            </figure>
        </section>
    </footer>
</body>
</html>
<script src="../scripts/menu.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="../scripts/sr-portfolio.js"></script>